*,
*::before,
*::after {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

:root {
  --azul-claro: #00bfff;
  --azul-oscuro: #000943;
  --amarillo: #e7c400;
  --negro: #090a10;
  --blanco: #ffffff;
}

:root {
  /* Fuentes */
  --fuente-titulo: "Inter", sans-serif;
  --fuente-titulo-grande: "Miriam Libre", sans-serif;
  --fuente-subtitulo: "Montserrat", sans-serif;
  --fuente-texto-regular: "Montserrat", sans-serif;
  --fuente-texto-descriptivo: "Montserrat", sans-serif;

  /* Tamaños */
  --tam-titulo: 1.938em;
  --tam-titulo-grande: 2.438em;
  --tam-subtitulo: 1.563em;
  --tam-texto-regular: 1.25em;
  --tam-texto-descriptivo: 1em;

  /* Pesos */
  --peso-titulo-grande: 700;
  --peso-titulo: 500;
  --peso-subtitulo: 500;
  --peso-texto-regular: 400;
  --peso-texto-descriptivo: 400;
}

html{
  background-color: var(--negro);
  scroll-behavior: smooth;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(/assets/img-azul-redes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
  max-width: 100%;
  height: auto;
}

.bg-dark {
  color: var(--negro);
}

.navbar-nav .nav-link {
  color: var(--blanco);
}

.navbar-nav li {
  margin: 0em 1em 0em 1em;
  font-family: var(--fuente-titulo);
  font-size: var(--tam-titulo);
  font-weight: var(--peso-titulo);
}

/* Cuando la pantalla sea menor a 768px, reduce el botón */

.btn {
  white-space: nowrap;
}

.btn-cta {
  background-color: var(--amarillo);
  color: var(--negro);
  border: var(--amarillo);
  border-radius: 25px;
  padding: 8px 40px;
  font-family: var(--fuente-titulo);
  font-size: var(--tam-titulo);
  font-weight: var(--peso-titulo);
  cursor: pointer;
}

.btn-cta:hover {
  background-color: rgba(231, 196, 0, 0.85);
}

.btn-secondary {
  background-color: var(--azul-claro);
  color: var(--negro);
  border: var(--azul-claro);
  border-radius: 25px;
  padding: 8px 40px;
  font-family: var(--fuente-titulo);
  font-size: var(--tam-titulo);
  font-weight: var(--peso-titulo);
  cursor: pointer;
  margin: 2em 0em 2em 0em;
}

.btn-secondary:hover {
  background-color: rgba(0, 191, 255, 0.8);
  color: var(--negro);
}

.startup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2em;
}

.sign-up-text {
  color: var(--blanco);
  font-family: var(--fuente-titulo-grande);
  font-size: var(--tam-titulo-grande);
  font-weight: var(--peso-titulo-grande);
  margin: 2em 3em 1em 3em;
}

.startup-roles {
  display: flex;
  gap: 3em;
  color: var(--blanco);
  font-family: var(--fuente-subtitulo);
  font-size: var(--tam-subtitulo);
  font-weight: var(--peso-subtitulo);
}

.startup-roles p {
  margin: 1em 2em 1em 2em;
}

.yellow-line {
  background-color: var(--amarillo);
  width: 100%;
  height: 8vh;
}

.start-cards {
  border: medium solid var(--negro);
  margin: 2rem 0rem 2rem 0rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--blanco);
}


.card-body a {
  font-family: var(--fuente-texto-regular);
  font-size: var(--tam-texto-regular);
  font-weight: var(--peso-texto-regular);
}

.card-title {
  font-family: var(--fuente-subtitulo);
  font-size: var(--tam-subtitulo);
  font-weight: var(--peso-subtitulo);
  text-align: center;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--negro);
}

/*En desktop first se usa max-width que significa lo máximo, es decir, del valor indicado hacia abajo */
@media (max-width: 64em) {
  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
  .text-container h2 {
    font-size: var(--tam-titulo);
    font-weight: var(--peso-titulo);
  }
  .startup-roles {
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }
  .navbar-nav li {
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }
  .yellow-line {
    width: 100%;
    height: 6vh;
  }
  .card-title{
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }
  .card-body a {
  font-size: var(--tam-texto-descriptivo);
  font-weight: var(--tam-texto-descriptivo);
}
}

/*En movile first se usa min-width que significa lo mínimo, es decir, del valor indicado hacia arriba */
@media (max-width: 30em) {
  .btn {
    padding: 6px 12px;
    font-size: 12px;
  }
  .text-container h2 {
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }
  .startup-roles {
    font-size: var(--tam-texto-descriptivo);
    font-weight: var(--peso-texto-descriptivo);
  }
  .navbar-nav li {
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }
  .startup-roles {
    flex-direction: column;
    text-align: center;
  }
  .yellow-line {
    width: 100%;
    height: 4vh;
  }
  
  .sign-up-text {
    margin: 1em 2em 1em 2em;
  }
}

@media (prefers-color-scheme:dark){
  body{
    background-color: var(--negro);
    color:var(--blanco)
  }
}
