*,
*::before,
*::after {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

:root {
  --azul-claro: #00bfff;
  --azul-oscuro: #000943;
  --amarillo: #e7c400;
  --negro: #090a10;
  --blanco: #ffffff;

  /* Fuentes */
  --fuente-titulo: "Inter", sans-serif;
  --fuente-titulo-grande: "Miriam Libre", sans-serif;
  --fuente-subtitulo: "Montserrat", sans-serif;
  --fuente-texto-regular: "Montserrat", sans-serif;
  --fuente-texto-descriptivo: "Montserrat", sans-serif;

  /* Tamaños */
  --tam-titulo: 1.938em;
  --tam-titulo-grande: 2.438em;
  --tam-subtitulo: 1.563em;
  --tam-texto-regular: 1.25em;
  --tam-texto-descriptivo: 1em;

  /* Pesos */
  --peso-titulo-grande: 700;
  --peso-titulo: 500;
  --peso-subtitulo: 500;
  --peso-texto-regular: 400;
  --peso-texto-descriptivo: 400;
}

html {
  background-color: var(--negro);
  scroll-behavior: smooth;
}

/* Estilos base (para móviles) */
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(/assets/img-azul-redes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
  max-width: 100%;
  height: auto;
}

.navbar-nav .nav-link {
  color: var(--blanco);
}

.navbar-nav li {
  margin: 0em 1em;
  font-family: var(--fuente-titulo);
  font-size: var(--tam-texto-regular);
  font-weight: var(--peso-texto-regular);
}

.btn {
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 25px;
}

.btn-cta {
  background-color: var(--amarillo);
  color: var(--negro);
  font-family: var(--fuente-titulo);
  font-size: var(--tam-subtitulo);
  font-weight: var(--peso-subtitulo);
}

.btn-secondary {
  background-color: var(--azul-claro);
  color: var(--negro);
  margin: 2em 0em;
}

.startup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2em;
}

.sign-up-text {
  color: var(--blanco);
  font-family: var(--fuente-titulo-grande);
  font-size: var(--tam-titulo);
  font-weight: var(--peso-titulo);
  margin: 2em 4em 1em 4em;
}

.startup-roles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3em;
  color: var(--blanco);
  font-family: var(--fuente-subtitulo);
  font-size: var(--tam-texto-descriptivo);
  font-weight: var(--peso-texto-descriptivo);
}

.yellow-line {
  background-color: var(--amarillo);
  width: 100%;
  height: 4vh;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--negro);
}

/* Estilos para tablets (>= 30em) */
@media (min-width: 30em) {
  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
  .text-container h2 {
    font-size: var(--tam-titulo);
    font-weight: var(--peso-titulo);
  }
  .startup-roles {
    flex-direction: row;
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }
  .navbar-nav li {
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }
  .yellow-line {
    height: 6vh;
  }
  .card-title {
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }
  .card-body a {
    font-size: var(--tam-texto-descriptivo);
    font-weight: var(--peso-texto-descriptivo);
  }
}

/* Estilos para pantallas grandes (>= 64em) */
@media (min-width: 64em) {
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .text-container {
    min-height: 80vh;
  }
  .yellow-line {
    height: 8vh;
  }
}

/* Soporte para modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--negro);
    color: var(--blanco);
  }
}
