*,
*::before,
*::after {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

:root {
  /*colores corporativos*/
  --azul-claro: #00bfff;
  --azul-oscuro: #000943;
  --amarillo: #e7c400;
  --negro: #090a10;
  --blanco: #ffffff;

  /* Fuentes */
  --fuente-titulo: "Inter", sans-serif;
  --fuente-titulo-grande: "Miriam Libre", sans-serif;
  --fuente-subtitulo: "Montserrat", sans-serif;
  --fuente-texto-regular: "Montserrat", sans-serif;
  --fuente-texto-descriptivo: "Montserrat", sans-serif;

  /* Tamaños */
  --tam-titulo: 1.938em;
  --tam-titulo-grande: 2.438em;
  --tam-subtitulo: 1.563em;
  --tam-texto-regular: 1.25em;
  --tam-texto-descriptivo: 1em;

  /* Pesos */
  --peso-titulo-grande: 700;
  --peso-titulo: 500;
  --peso-subtitulo: 500;
  --peso-texto-regular: 400;
  --peso-texto-descriptivo: 400;

  /*Boton CTA*/
  --bg-cta-btn: var(--amarillo);
  --color-cta-btn: var(--negro);
  --b-cta-btn: var(--amarillo);
  --br-cta-btn: 25px;
  --p-cta-btn: 8px 24px;
  --ff-cta-btn: var(--fuente-texto-regular);
  --fs-cta-btn: var(--tam-texto-regular);
  --fw-cta-btn: var(--peso-subtitulo);
  --cursor-cta-btn: pointer;

  /*Botón color secundario*/
  --bg-sec-btn: var(--azul-claro);
  --color-sec-btn: var(--negro);
  --b-sec-btn: var(--amarillo);
  --br-sec-btn: 25px;
  --p-sec-btn: 8px 24px;
  --ff-sec-btn: var(--fuente-texto-regular);
  --fs-sec-btn: var(--tam-texto-regular);
  --fw-sec-btn: var(--peso-subtitulo);
  --cursor-sec-btn: pointer;
}

html {
  background-color: var(--negro);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  background-color: var(--negro);
  position: sticky;
  top: 0;
  z-index: 999;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(/assets/Fondo-pagina-principal-redes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  max-width: 100%;
  height: 100vh;
}

.header__nav-list .header__nav-link {
  color: var(--blanco);
  text-align: center;
}

.btn--cta {
  background-color: var(--bg-cta-btn);
  color: var(--color-cta-btn);
  border: var(--b-cta-btn);
  border-radius: var(--br-cta-btn);
  padding: var(--p-cta-btn);
  font-family: var(--ff-cta-btn);
  font-size: var(--fs-cta-btn);
  font-weight: var(--fw-cta-btn);
  cursor: var(--cursor-cta-btn);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn--cta:hover {
  background-color: #d0b000;
}

.btn--secondary {
  background-color: var(--bg-sec-btn);
  color: var(--color-sec-btn);
  border: var(--b-sec-btn);
  border-radius: var(--br-sec-btn);
  padding: var(--p-sec-btn);
  font-family: var(--ff-sec-btn);
  font-size: var(--fs-sec-btn);
  font-weight: var(--fw-sec-btn);
  cursor: var(--cursor-sec-btn);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn--secondary:hover {
  background-color: #00ace6;
}

.hero__title {
  color: var(--blanco);
  font-family: var(--fuente-titulo-grande);
  font-size: var(--tam-titulo-grande);
  font-weight: var(--peso-titulo-grande);
  margin: 1em 3em 1em 3em;
}

.hero__roles{
  display: flex;
  gap: 3em;
  color: var(--blanco);
  font-family: var(--fuente-subtitulo);
  font-size: var(--tam-subtitulo);
  font-weight: var(--peso-subtitulo);
}

.hero__roles p {
  margin: 1em 2em 1em 2em;
}

.yellow-line {
  background-color: var(--amarillo);
  width: 100%;
  height: 2rem;
}

.topics__cards {
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.topics__card {
  flex: 1 1 100%;
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--blanco);
}

.card-body li {
  font-family: var(--fuente-texto-regular);
  font-size: var(--tam-texto-regular);
  font-weight: var(--peso-texto-regular);
  list-style: none;
}

.card-body ul {
  padding: 0;
}

.benefits__card-title {
  font-family: var(--fuente-subtitulo);
  font-size: var(--tam-subtitulo);
  font-weight: var(--peso-subtitulo);
  text-align: center;
}

.landing__logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 40vh;
  padding: 1rem;
}



.cards-section-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--negro);
  margin-top: 2em;
  margin-bottom: 2em;
}

.header__nav-list a:hover {
  background-color: #b0b3c550;
  border-radius: 15%;
}

.landing__logo-img {
  max-width: 320px;
  height: auto;
  margin-bottom: 1rem;
}

.landing__logo-section h3 {
  font-family: var(--fuente-titulo-grande);
  font-weight: var(--peso-titulo-grande);
  font-size: var(--tam-titulo-grande);
}

.logo__image {
  max-width: 100%;
  height: auto;
}

.benefits__cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1300px; 
  margin: 0 auto;
  padding: 2em 2em 5em 2em;
  border-bottom: solid 0.09em var(--blanco);
}

.card {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--blanco);
}

.benefits__card-img {
  margin: 1em;
}

.footer__link {
  color: var(--blanco)
}

.footer__content{
  display: flex;
  align-items: start;
  justify-content: center;
  
}

.footer {
    font-family: var(--fuente-texto-descriptivo);
    font-size: var(--tam-texto-descriptivo);
    font-weight: var(--peso-texto-descriptivo);
  }

/* xs: viewport <576px - móviles */
@media (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.8rem;
    font-size: var(--tam-texto-regular);
    min-height: 45px;
  }

  .header__actions {
    flex-direction: column;
  }

  .hero__title {
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-subtitulo);
    margin-left: 1em;
    margin-right: 1em;
  }

  .hero__roles {
    flex-direction: column;
    gap: 1.25em;
    font-size: var(--tam-texto-descriptivo);
  }

  .nav-link {
    margin: 0.5em 0;
    font-size: var(--tam-texto-regular);
    text-align: center;
  }

  .yellow-line {
    height: 1.5rem;
  }

  .topics__card {
    width: 100%;
  }

  .card-body li {
    font-size: var(--tam-texto-regular);
  }

  .benefits__card-title{
    font-family: var(--fuente-texto-regular);
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }

  .benefits__card-text{
    font-family: var(--fuente-texto-descriptivo);
    font-size: var(--tam-texto-descriptivo);
    font-weight: var(--peso-texto-descriptivo);
  }

  .landing__logo-section h3{
    font-family: var(--fuente-titulo-grande);
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }

  .footer {
    padding-left: 2.5em;
    font-family: var(--fuente-texto-descriptivo);
    font-size: 0.8em;
    font-weight: var(--peso-texto-descriptivo);
  }

}

/* sm: viewport ≥576px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-subtitulo);
    min-height: 50px;
  }

  .hero__title {
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }

  .hero__roles {
    font-size: var(--tam-texto-descriptivo);
  }

  .nav-link {
    margin: 0 1rem;
    font-size: var(--tam-texto-regular);
  }

  .yellow-line {
    height: 1.75rem;
  }

  .topics__card {
    width: 100%;
  }

  .card-body li {
    font-size: var(--tam-texto-regular);
  }

    .benefits__card-title{
    font-family: var(--fuente-texto-regular);
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }

  .benefits__card-text{
    font-family: var(--fuente-texto-descriptivo);
    font-size: var(--tam-texto-descriptivo);
    font-weight: var(--peso-texto-descriptivo);
  }

  .landing__logo-section h3{
    font-family: var(--fuente-titulo-grande);
    font-size: var(--tam-titulo);
    font-weight: var(--peso-titulo);
  }

  .footer {
    font-family: var(--fuente-texto-descriptivo);
    font-size: var(--tam-texto-descriptivo);
    font-weight: var(--peso-texto-descriptivo);
  }
}

/* md: viewport ≥768px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-subtitulo);
    min-height: 50px;
  }

  .hero__title {
    font-size: var(--tam-titulo);
    font-weight: var(--peso-titulo-grande);
  }

  .hero__roles {
    font-size: var(--tam-texto-regular);
  }

  .nav-link {
    margin: 0 1rem;
    font-size: var(--tam-texto-regular);
  }

  .yellow-line {
    height: 2rem;
  }

  .topics__card {
    width: 100%;
  }

  .card-body li {
    font-size: var(--tam-texto-regular);
  }

  /* .topics-section__grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    justify-content: center;
  } */

  .cards-section-two {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    justify-content: center;
  }

  .benefits__card-title{
    font-family: var(--fuente-texto-regular);
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }

  .benefits__card-text{
    font-family: var(--fuente-texto-descriptivo);
    font-size: var(--tam-texto-descriptivo);
    font-weight: var(--peso-texto-descriptivo);
  }
}

/* lg: viewport ≥992px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn {
    padding: 0.6rem 1.2rem;
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-subtitulo);
  }

  .hero__title {
    font-size: var(--tam-titulo);
    font-weight: var(--peso-titulo-grande);
  }

  .hero__roles {
    font-size: var(--tam-subtitulo);
  }

  .nav-link {
    margin: 0 1rem;
    font-size: var(--tam-subtitulo);
  }

  .yellow-line {
    height: 2.5rem;
  }

  .topics__card {
    flex: 1 1 calc(50% - 1rem); /* permite crecer o reducirse con base en ese 50% ajustado.*/
    max-width: calc(50% - 1rem); /* limita su tamaño máximo para que no se desborde.*/
  }

  .card-body li {
    font-size: var(--tam-texto-regular);
  }

/* .topics-section__grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    justify-content: center;
  }  */

  .cards-section-two {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    justify-content: center;
  }

  .topics__title{
    font-family: var(--fuente-subtitulo);
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }

  .benefits__card-text{
    font-family: var(--fuente-texto-regular);
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }
}

/* xl: ≥1200px */
@media (min-width: 1200px) {
  .btn {
    padding: 0.75rem 1.5rem;
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-subtitulo);
  }

  .hero__title {
    font-size: var(--tam-titulo-grande);
  }

  .hero__roles {
    font-size: var(--tam-subtitulo);
  }

  .nav-link {
    margin: 0 1.25rem;
    font-size: var(--tam-subtitulo);
  }

  .yellow-line {
    height: 3rem;
  }

  .topics__card {
    flex: 1 1 calc(25% - 1.5rem); /*Cada tarjeta toma el 25% del ancho total, menos un margen de 1.5rem (esto ayuda a que quepan 4 por fila, considerando los espacios entre ellas).*/
    max-width: calc(25% - 1.5rem); /*flex permite ajustar su tamaño y max-width impone el límite superior.*/
  }

  .topics__title{
    font-family: var(--fuente-subtitulo);
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }

  .card-body li {
    font-size: var(--tam-texto-regular);
  }

  .benefits__card-title{
    font-family: var(--fuente-subtitulo);
    font-size: var(--tam-subtitulo);
    font-weight: var(--peso-subtitulo);
  }

  .benefits__card-text{
    font-family: var(--fuente-texto-regular);
    font-size: var(--tam-texto-regular);
    font-weight: var(--peso-texto-regular);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--negro);
    color: var(--blanco);
  }
}
